@font-face {
	font-family: "Bellefair";
	src: url("../assets/Bellefair-Regular.ttf");
}
@font-face {
	font-family: "Barlow";
	src: url("../assets/Barlow-Regular.ttf");
}

:root {
	--dark-blue: #0b0d17;
	-light-blue: #d0d6f9;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url("../assets/home/background-home-desktop.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	width: 100%;
}
html,
body {
	height: 100%;
}
.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2vw 1vw 0 2vw;
	margin-bottom: 2vw;
	font-family: "Barlow";
	color: white;
	position: relative;
}
.header-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
	height: 6vw;
	list-style: none;
	padding-left: 3vw;
	backdrop-filter: blur(10vw);
	z-index: 0;
	padding-top: 2.5vw;
}
.header-link {
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.header-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 2px;
	background-color: white;
	opacity: 0;
	transition: opacity 1s ease;
}
.header-link:hover::after {
	opacity: 1;
	width: 100%;
}
.active::after {
	opacity: 1;
	width: 100%;
}
.divider {
	position: absolute;
	left: 9vw;
	width: 40%;
	height: 0.1vw;
	background-color: white;
	z-index: 1;
}

/* main */
main {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding: 0 3vw 5vw 2vw;
	height: 100%;
	h3 {
		font-size: 1.5vw;
		font-weight: 100;
		letter-spacing: 0.2vw;
	}
	h1 {
		font-family: "Bellefair";
		font-size: 7vw;
		font-weight: 100;
	}
	p {
		line-height: 2.3vw;
	}
}
.main-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-content {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 1vw;
	color: white;
	font-family: "Barlow";
}
#explore {
	width: 15vw;
	height: 15vw;
	border-radius: 100%;
	border: none;
	background-color: white;
	color: black;
	font-family: "Bellefair";
	font-size: 1.5vw;
	cursor: pointer;
	position: relative;
	transition: transform 0.3s ease;
	z-index: 1;
}
#explore::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	z-index: -1;
	transition: all 0.3s ease;
	opacity: 0;
}

#explore:hover::before {
	width: 150%;
	height: 150%;
	opacity: 1;
}
