@font-face {
	font-family: "Bellefair";
	src: url("../assets/Bellefair-Regular.ttf");
}
@font-face {
	font-family: "Barlow";
	src: url("../assets/Barlow-Regular.ttf");
}

:root {
	--dark-blue: #0b0d17;
	-light-blue: #d0d6f9;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url("../assets/technology/background-technology-desktop.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	color: white;
	font-family: "Barlow";
	background-attachment: fixed;
	min-height: 100%;
}

.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2vw 1vw 0 2vw;
	margin-bottom: 2vw;
	font-family: "Barlow";
	color: white;
	position: relative;
}
.header-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
	height: 6vw;
	list-style: none;
	padding-left: 3vw;
	backdrop-filter: blur(10vw);
	z-index: 0;
	padding-top: 2.5vw;
}
.header-link {
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.header-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 2px;
	background-color: white;
	opacity: 0;
	transition: opacity 1s ease;
}
.header-link:hover::after {
	opacity: 1;
	width: 100%;
}
.active::after {
	opacity: 1;
	width: 100%;
}
.divider {
	position: absolute;
	left: 9vw;
	width: 40%;
	height: 0.1vw;
	background-color: white;
	z-index: 1;
}
/* main */
h3 {
	padding-left: 8vw;
	padding-top: 3vw;
	font-size: 2vw;
	font-weight: 100;
}
.number-bold {
	font-weight: bold;
	color: darkgray;
	margin-right: 2vw;
}
main {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height: 100%;
}
.main-container {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 10%;
	img {
		width: 35vw;
	}
	padding-left: 7vw;
}
.main-content {
	width: 80%;
	height: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2vw;
	h4 {
		font-family: "Bellefair";
		font-size: 2.5vw;
		color: darkgray;
		font-weight: 100;
	}
	h1 {
		font-family: "Bellefair";
		font-size: 3vw;
		font-weight: 100;
	}
	p {
		line-height: 2.2vw;
		width: 100%;
		font-size: 1.3vw;
	}
}

/* Кнопки */
.buttons-num {
	display: flex;
	flex-direction: column;
	gap: 2vw;
}
.num-btn {
	width: 7vw;
	height: 7vw;
	border-radius: 100%;
	border: 0.1vw solid white;
	background: none;
	font-family: "Bellefair";
	color: white;
	font-size: 2vw;
	cursor: pointer;
}
.btn-active {
	background-color: white;
	color: black;
}
.num-btn:hover {
	background-color: white;
	color: black;
}
